:root {
  font-family: Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5vw;
  font-weight: 100;
  letter-spacing: 0.3em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 20vw;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Styles for screens 600px and up (tablets, desktops, etc.) */
@media (min-width: 600px) {
  .logo {
    margin-bottom: 3em;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 42px;
  }
  .logo {
    margin-bottom: 3em;
  }
}
